
<!-- <div [ngClass]="'main'">
    <app-nav  (stateCode)="setStateData($event)" (showTableTemplate)="showTable($event)" [ngClass]="'nav_bar'"></app-nav>

    <div *ngIf="tableShow === false" [ngClass]="'content_main'">
    <div [ngClass]="'content_div'">
     <div [ngClass]="'pie_div'"><app-pie-chart [data]="stateData"></app-pie-chart></div>
     <div [ngClass]="'donut_div'"><app-donut-chart [data]="stateData"></app-donut-chart></div>
    </div>
    <app-bar-graph [data]="stateData"></app-bar-graph>
  </div>

  
  <div *ngIf="tableShow === true">
    <app-table [data]="stateTableData"></app-table>
  </div> 


  </div> -->


  <mat-drawer-container class="example-container" [hasBackdrop]="'false'">
    <mat-drawer [opened]="'true'" #drawer [mode]="'side'">
      <app-nav  (stateCode)="setStateData($event)" (showTableTemplate)="showTable($event)" [ngClass]="'nav_bar'"></app-nav>
    </mat-drawer>
    <mat-drawer-content>
      <button mat-raised-button color="primary" (click)="drawer.toggle()"><b><<<  Click To Slide</b> </button>
      <div *ngIf="Show === 'Dashboard'" [ngClass]="'content_main'">
        <div [ngClass]="'content_div'">
         <div [ngClass]="'pie_div'"><app-pie-chart [data]="stateData"></app-pie-chart></div>
         <div [ngClass]="'donut_div'"><app-donut-chart [data]="stateData"></app-donut-chart></div>
        </div>
        <app-bar-graph [data]="stateData"></app-bar-graph>
      </div>

      <div *ngIf="Show === 'Table'">
        <app-table [data]="stateTableData"></app-table>
      </div> 
      <div *ngIf="Show === 'Diagram'">
        <app-diagram></app-diagram>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  
<router-outlet></router-outlet>